body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  width: 100vw;
  height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}
nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
nav a {
  align-self: center;
}
.question-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  height: 400px;
  justify-content: space-around;
}
section.home-container {
  display: flex;
  flex-direction: column;
}
.question-box b {
  font-size: 2em;
}
.question-box input {
  width: 50%;
  height: 50px;
  margin: auto;
  border: none;
  font-size: 1.5em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}
.question-box input:focus {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}
.question-box button {
  border: none;
  box-shadow: 0px 2px 2px 0px #22211f12, 0px 2px 4px 2px #22211f24;
  width: 100px;
  height: 50px;
  align-self: center;
}
.home-link {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  align-self: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  padding: 20px;
}
.cat-link {
  margin: 5px;
  padding: 2px;
  color: black;
  text-decoration: none;
}
.cat-link:hover {
  color: #0eb3c6;
  text-decoration: underline #0eb3c6;
}
.iframe {
  display: flex;
  width: 20%;
  margin: auto;
  justify-content: space-around;
}
iframe svg {
  overflow: hidden;
}
iframe.invisible {
  display: none;
}
iframe.visible {
  display: block;
}